<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn-BC-gyZ6a9UMR10CUZEciLUttZm5zN0</string>
	<key>GCM_SENDER_ID</key>
	<string>770210207046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mozztask</string>
	<key>PROJECT_ID</key>
	<string>chat-app-28db7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-28db7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770210207046:ios:f26c5d93dde4b233874147</string>
</dict>
</plist>